.statistics {
	@apply flex justify-between w-full items-stretch mt-10;
	@media (max-width: 750px) {
		@apply flex-col;
	}
	.block {
		@apply air-block w-full h-44;
	}

	.count {
		@apply mr-28 flex items-center justify-center text-center;
		@media (max-width: 1350px) {
			@apply mr-10;
		}
		@media (max-width: 750px) {
			@apply mb-4;
		}
		&:last-child {
			@apply mr-0;
		}

		.number {
			@apply text-7xl mb-1 font-medium  text-gray-700 dark:text-gray-300;
		}

		.description {
			@apply text-gray-600 dark:text-gray-300 dark:opacity-70 text-lg;
		}
	}
}
