.form {
	@apply mt-12;

	.fields {
		@apply flex flex-col;
		> div {
			@apply flex gap-10;
			width: 100%;
			@media (min-width: 900px) {
				@apply flex-wrap gap-y-0;
			}
			@media (max-width: 900px) {
				@apply flex-wrap gap-y-0;
			}
			@media (max-width: 630px) {
				@apply flex-wrap gap-y-0;
			}
			@media (max-width: 500px) {
				@apply flex-col gap-y-0;
			}
			@media (max-width: 350px) {
				@apply flex-col gap-y-0;
			}
		}
	}
}

.formCreate {
	@apply mt-12;

	.fieldsCreate {
		@apply grid grid-cols-3 grid-rows-2 gap-x-4 relative gap-y-4;
		@media (max-width: 1250px) {
			@apply grid-cols-2;
		}
		@media (max-width: 750px) {
			@apply grid-cols-1;
		}
		> div {
			width: 100%;
			min-width: 180px;
			max-width: 450px;

			@media (max-width: 750px) {
				max-width: 550px;
				min-width: 150px;
			}
		}
	}

	.text {
		> div {
			@apply relative left-0 w-full;
			min-width: 250px !important;
			max-width: 1050px !important;
		}
	}
}
