.fields {
	@apply mb-5;
	width: 100%;
	.field {
		@apply flex gap-x-10 w-full;

		@media (max-width: 730px) {
			@apply flex flex-col;
		}
	}
	.addBtn {
		@apply text-[26px] relative;

		> svg {
			@apply z-10 text-gray-950 dark:text-gray-600 cursor-pointer hover:text-primary hover:scale-150 dark:hover:text-primary transition-all;
		}
	}
}

.removeBtn {
	@apply text-[18px] relative top-0 right-14 h-full;
	@media (max-width: 730px) {
		@apply relative w-full ml-14 flex justify-end;
		max-width: 450px;
	}
	@media (max-width: 500px) {
		max-width: 400px;
	}
	@media (max-width: 200px) {
		max-width: 150px;
	}
	> svg {
		@apply z-10 text-gray-950 dark:text-gray-600 cursor-pointer hover:text-primary hover:scale-150 dark:hover:text-primary transition-all;
		@media (max-width: 730px) {
			@apply absolute bottom-40;
		}
	}
}
//
//.fields {
//	@apply mb-5 w-full;
//	.field {
//		@apply flex gap-x-10 w-full;
//
//		@media (max-width: 730px) {
//			@apply flex flex-col;
//		}
//	}
//	.addBtn {
//		@apply flex items-center justify-center w-full;
//	}
//}
//
//.removeBtn {
//	@apply text-[28px] relative top-[22px] right-8 h-full;
//	@media (max-width: 730px) {
//		@apply relative;
//	}
//	> svg {
//		@apply z-10 text-gray-950 dark:text-gray-600 cursor-pointer hover:text-primary dark:hover:text-primary transition-colors;
//		@media (max-width: 730px) {
//			@apply absolute top-[-14px] right-32;
//		}
//	}
//}
