.button {
	@apply btn-primary py-2 px-10;
}

.common {
	@apply relative w-1/3 min-w-[200px] border-b  border-gray-950 dark:border-gray-600 transition-all dark:focus-within:border-primary focus-within:border-primary;

	@media (min-width: 900px) {
		max-width: 450px;
	}
	@media (max-width: 1200px) {
		min-width: 300px;
	}
	@media (max-width: 1050px) {
		max-width: 400px;
	}

	@media (max-width: 730px) {
		@apply w-full;
		min-width: 280px;
		max-width: 450px;
	}
	@media (max-width: 500px) {
		@apply w-full;
		min-width: 280px;
		max-width: 400px;
	}
	@media (max-width: 350px) {
		@apply w-full;
		min-width: 250px;
	}
	@media (max-width: 300px) {
		@apply w-full;
		min-width: 150px;
	}
	@media (max-width: 200px) {
		@apply w-full;

		max-width: 150px;
	}

	> label {
		@apply block w-full;

		> span {
			@apply text-xs uppercase text-gray-950 dark:text-gray-600 block;
		}
	}
}

.field {
	@apply text-left mb-8;

	input {
		@apply outline-border-none focus:ring-0 bg-transparent text-gray-950 dark:text-gray-500 w-full m-0 px-0;
	}
}
.error {
	@apply absolute -bottom-6 left-0 text-sm w-full text-primary;
}
.editorWrapper {
	@apply border-0 mb-8;

	.wrapper {
		.toolbar {
			@apply mt-4 outline-border-none rounded-t-lg rounded-b-none mb-0 bg-gray-500 dark:bg-gray-600 bg-opacity-40 p-3;

			> div {
				@apply m-0;

				> div {
					@apply outline-border-none shadow-none transition-colors border-gray-500 bg-gray-500 hover:bg-gray-600 dark:hover:bg-gray-300 mx-1.5;
				}
			}
		}

		.editor {
			@apply transition-colors h-auto border focus-within:border-primary dark:focus-within:border-primary border-t-0 rounded-b-lg rounded-t-none border-gray-300 dark:border-gray-700 px-4 text-gray-700 dark:text-gray-500 overflow-y-hidden cursor-text;
			min-height: 128px;
		}
	}
}
