$bar-width: 18%;
$shadow: 0 10px 10px 0 rgb(0 0 0 / 15%), 0 6px 6px 0 rgb(0 0 0 / 15%), 0 3px 3px 0 rgb(0 0 0 / 15%);
.layout {
	@apply relative;

	> div:first-child {
		@apply fixed top-0 bottom-0 z-10;
		width: $bar-width;
		min-width: 350px;
		@media (min-width: 2000px) {
			width: 350px;
		}
		@media (max-width: 1200px) {
			min-width: 29%;
		}
		@media (max-width: 1050px) {
			@apply w-full h-16 bg-white dark:bg-gray-900 shadow-lg dark:shadow-gray-800 shadow-gray-300;
		}
	}

	> div:first-child {
		@apply left-0 border-r border-r-gray-300 dark:border-r-gray-600;
		@media (max-width: 1050px) {
			@apply border-none;
		}
	}

	> .center {
		@apply min-h-screen p-layout;
		margin-left: 350px;
		@media (max-width: 1200px) {
			margin-left: 29%;
		}
		@media (max-width: 1050px) {
			margin-left: 0;
			@apply pt-24;
		}
		@media (max-width: 500px) {
			@apply px-6;
		}
		@media (max-width: 350px) {
			@apply px-4;
		}
	}
}
