.gallery {
	@apply grid grid-cols-2 gap-4;

	@media (max-width: 1420px) {
		@apply grid-cols-1;
	}
}

.item {
	@apply relative transition-all flex shadow-lg rounded-2xl overflow-hidden;
	flex: 0 0 auto;

	&:hover {
		transform: translateY(-5px);
		@apply bg-gray-100 dark:bg-gray-800;
	}

	&.horizontal {
		@apply h-full;
		width: 95%;
	}

	&.withText {
		&::before {
			@apply rounded-layout;
		}
	}

	.content {
		@apply relative z-2 m-3 w-full;
		div {
			@apply mb-2;
		}
		.building {
			@apply flex font-semibold text-2lg mb-4 text-primary dark:text-primary;
		}

		.params {
			@apply flex text-[16px] text-gray-900 dark:text-gray-300 gap-6;
			div:first-child {
				@apply flex-col flex font-semibold;
			}
			div:last-child {
				@apply flex-col flex font-semibold;
			}
		}

		.footer {
			@apply flex justify-between;
			> div:first-child {
				@apply text-gray-600 dark:text-gray-600;
			}

			> div:last-child {
				@apply flex justify-end gap-12 text-gray-900 dark:text-gray-300 font-semibold pr-16;
				> span:last-child {
					@apply text-primary;
				}
			}
		}
	}
}
