.menu {
	@apply mb-14 animate-fade;
	@media (max-width: 1050px) {
		display: none;
	}
	.heading {
		@apply text-gray-950 dark:text-gray-300  uppercase text-sm font-semibold pl-layout;
	}

	.ul {
		> li {
			@apply px-8 border-r-4 border-r-transparent transition-colors;
			> a {
				@apply flex  items-center text-gray-600 dark:text-gray-600 px-3 mt-6 cursor-pointer;

				> span {
					@apply ml-3 text-lg hover:text-gray-950 dark:hover:text-white;
				}

				> svg {
					@apply text-2lg;
				}

				> span,
				> svg {
					@apply transition-colors;
				}
			}

			&.active {
				@apply border-r-primary dark:border-r-primary;
				> a > span {
					@apply text-gray-950 dark:text-white font-semibold;
				}

				> a > svg {
					@apply fill-primary dark:fill-primary;
				}
			}
		}
	}
}

.hamburger {
	@apply flex items-center h-full  animate-fade relative left-0 top-0 px-layout z-40;
	display: none;

	@media (max-width: 1050px) {
		display: block;
	}
	@media (max-width: 500px) {
		@apply px-6;
	}
	@media (max-width: 350px) {
		@apply px-4;
	}

	button {
		@apply bg-transparent border-none outline-none cursor-pointer h-full;

		svg {
			@apply text-4xl;
			path {
				@apply transition-colors;
			}
		}
	}

	button:hover {
		> svg {
			> path {
				@apply text-primary;
			}
		}
	}

	.menuHamburger {
		@apply absolute bg-white dark:bg-gray-900 shadow-lg dark:shadow-gray-800 shadow-gray-300 top-12 rounded-b-xl;
		width: 220px;
		display: none;
		box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);

		&.show {
			@apply block;
		}

		.ulHamburger {
			> li {
				@apply px-4;
				> a {
					@apply flex items-center text-gray-600 dark:text-gray-600 px-3  cursor-pointer;

					> span {
						@apply ml-3 text-lg hover:text-gray-950 dark:hover:text-white py-2;
					}

					> svg {
						@apply text-2lg;
					}

					> span,
					> svg {
						@apply transition-colors;
					}
				}

				&.active {
					@apply border-r-primary dark:border-r-primary;
					> a > span {
						@apply text-gray-950 dark:text-white font-semibold;
					}

					> a > svg {
						@apply fill-primary dark:fill-primary;
					}
				}
			}
		}
	}
}
