.overlay {
	@apply max-h-screen left-0 top-0 absolute flex justify-center items-center bg-gray-950 z-50;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.wrapper {
	@apply w-full  flex  justify-center items-center;

	@media (max-width: 1650px) {
		@apply px-72;
	}
	@media (max-width: 1250px) {
		@apply px-44;
	}
	@media (max-width: 850px) {
		@apply px-24;
	}
	@media (max-width: 550px) {
		@apply px-12;
	}
	@media (max-width: 500px) {
		@apply px-6;
	}
	@media (max-width: 350px) {
		@apply px-4;
	}
}

.modal {
	@apply overflow-y-auto bg-white dark:bg-gray-900 p-4 w-1/2 h-full shadow-gray-700 dark:shadow-gray-950 shadow-xl rounded-xl border-gray-700 dark:border-gray-700 border-4;
	max-height: 800px;

	@media (max-width: 1650px) {
		@apply w-full;
	}

	@media (max-width: 650px) {
		max-height: 550px;
	}
	> div:first-child {
		@apply flex items-center justify-between;
		> div:last-child {
			@apply text-gray-950 dark:text-white text-2xl transition-colors cursor-pointer hover:text-primary dark:hover:text-primary;
		}
	}
}
.title {
	@apply font-semibold text-2xl text-gray-950 dark:text-white;
	@media (max-width: 500px) {
		@apply text-xl;
	}
}
