.nav {
	@apply air-block w-4/5 mx-auto mb-10;

	> ul {
		@apply flex justify-evenly items-center;
		> li {
			@apply inline-block;

			> a {
				@apply block px-5 py-4 text-lg transition-all relative text-gray-950 opacity-80 hover:opacity-100 dark:text-white dark:opacity-60  dark:hover:opacity-100;

				&::before {
					@apply absolute w-full h-0.5 bg-transparent transition-all left-0 bottom-0 rounded-md;
					content: '';
				}

				&.active {
					@apply dark:text-white dark:opacity-100;

					&::before {
						@apply bg-primary;
					}
				}
			}
		}
	}
}
