.wrapper {
	@apply air-block w-full h-64;

	.table {
		@apply h-full flex flex-col justify-center;
	}

	.content {
		@apply flex flex-col px-16 gap-y-4 mt-4 font-normal text-gray-700 dark:text-gray-300;
		@media (max-width: 700px) {
			@apply px-4;
		}
	}
	.params {
		@apply transition-all h-[30px] grid gap-x-2.5 grid-cols-4 grid-rows-1 font-normal border-b-[1px]  border-gray-900 dark:border-white   justify-items-center;

		@media (max-width: 850px) {
			@apply grid-cols-3;
		}
		@media (max-width: 625px) {
			@apply grid-cols-3;
		}
		@media (max-width: 575px) {
			@apply grid-cols-2;
		}
		@media (max-width: 350px) {
			@apply grid-cols-1;
		}
		&:hover {
			@apply border-b-[1px] border-gray-500;
		}
		white-space: nowrap;
	}

	.header {
		@apply grid gap-x-2.5 grid-cols-4 grid-rows-1 px-16 w-full font-semibold text-gray-700 dark:text-gray-300 justify-items-center;
		white-space: nowrap;
		@media (max-width: 850px) {
			@apply grid-cols-3;
		}
		@media (max-width: 625px) {
			@apply grid-cols-3;
		}
		@media (max-width: 575px) {
			@apply grid-cols-2;
		}
		@media (max-width: 350px) {
			@apply grid-cols-1;
		}
		@media (max-width: 700px) {
			@apply px-4;
		}
	}
	.material {
		@apply overflow-x-hidden whitespace-normal w-full flex justify-center;
		text-overflow: ellipsis;
	}
	.important {
		@media (max-width: 850px) {
			@apply hidden;
		}
	}
	.status {
		@media (max-width: 350px) {
			@apply hidden;
		}
	}
	.date {
		@media (max-width: 575px) {
			@apply hidden;
		}
	}
}
