.item {
	@apply grid grid-flow-col gap-x-4  bg-gray-500 bg-opacity-20 dark:bg-gray-700 dark:bg-opacity-20 mt-4 px-5 rounded-lg transition-colors hover:bg-gray-600 hover:bg-opacity-30 dark:hover:bg-opacity-50 overflow-x-auto;

	> div {
		@apply text-gray-950 opacity-90 dark:text-white dark:text-opacity-80 py-3;
		width: 150px;
		white-space: nowrap;

		&:last-child {
			@apply text-right w-full justify-end;
		}
	}
}

.itemHeader {
	@apply grid grid-flow-col gap-x-4 select-none transition-colors bg-primary bg-opacity-100 dark:bg-opacity-60 shadow-lg mt-4 px-5 rounded-lg overflow-x-auto;

	> div {
		@apply flex items-center gap-1 text-gray-950 text-opacity-80 dark:text-white dark:text-opacity-80  font-semibold py-3;
		width: 150px;
		white-space: nowrap;

		&:last-child {
			@apply text-right w-full justify-end;
		}

		> div:last-child {
			width: 20px;
		}
	}
}
.sort {
	@apply select-none;
	> svg {
		@apply cursor-pointer transition-colors;

		&:hover {
			@apply fill-gray-950;
		}

		&:active {
			transform: translateY(-1px);
		}
	}
}

.notFound {
	@apply flex items-center justify-center;
	height: 500px;

	> span {
		@apply text-2xl text-gray-950 dark:text-white text-opacity-60;
	}
}
