.wrapper {
	@apply flex items-center relative h-screen overflow-hidden;

	@media (max-width: 1420px) {
		@apply px-80;
	}
	@media (max-width: 1200px) {
		@apply px-60;
	}
	@media (max-width: 1050px) {
		@apply px-52;
	}
	@media (max-width: 950px) {
		@apply px-40;
	}
	@media (max-width: 800px) {
		@apply px-32;
	}
	@media (max-width: 700px) {
		@apply px-16;
	}
	@media (max-width: 550px) {
		@apply px-6;
	}
	@media (max-width: 450px) {
		@apply px-6;
	}
	@media (max-width: 350px) {
		@apply px-4;
	}
	.heading {
		@apply mb-6 text-gray-950 dark:text-white dark:text-opacity-80;
		@media (max-width: 500px) {
			@apply mb-10;
		}
		@media (max-width: 350px) {
			@apply mb-10;
		}
	}

	> form {
		@apply mx-auto w-full air-block bg-opacity-80  p-7 text-center;

		@media (min-width: 1421px) {
			@apply w-1/3;
		}
		@media (min-width: 2000px) {
			@apply w-1/4;
		}
		@media (min-width: 3000px) {
			@apply w-1/6;
		}

		.subHeading {
			h2 {
				@apply text-xs text-gray-500 dark:text-gray-500 underline cursor-pointer transition-colors;

				&:hover {
					@apply text-gray-600 dark:text-gray-300;
				}
				&:active {
					transform: translateY(-1px);
				}
			}
		}
		.eye {
			@apply flex relative bottom-12 w-full justify-end items-center pr-2 select-none;
			svg {
				@apply text-2lg	 absolute fill-gray-950 dark:fill-gray-600 transition-colors cursor-pointer;
			}
			&:hover {
				svg {
					@apply fill-primary;
				}
			}
		}
		.buttons {
			@apply p-2 mt-6 shadow-lg rounded-layout;

			> button {
				@apply transition-opacity bg-primary;

				&:active {
					transform: translateY(-1px);
				}
			}
		}
	}
}

.loader {
	@apply left-0 absolute flex items-center justify-center w-full;

	svg {
		width: 100px;
		height: 100px;
		margin: 20px;
		display: inline-block;
	}
}
